body {
    background-color: rgb(63, 62, 62);
}

::placeholder {
    color: gray;
  }
  
  .image {
    background-image: url(image@1x.png);
  }
  @media (min-resolution: 2dppx) {
    .image {
      background-image: url(image@2x.png);
    }
  }

.mainDiv {
    background-color: cadetBlue;
    margin: 0 auto;
    height: 620px;
    width: 620px;
    /*visibility: hidden;*/
}
.mainDiv > div {
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: inline-block;
    color: white;
}

p {
    padding: 50px;
}

.red {
    
    background-color: red;
}
.yellow {
    background-color: yellow;
    /*display: none; */
}
.green {
    background-color: green;
}
.HeadFallOff {
    width: 300px;
    height: 300px;

    background-image: url('img/HeadFallOff.svg');
    background-size: 1800%, 100%;
    background-position: left;
    background-repeat: no-repeat;

    animation-name: headf;
    animation-duration: 1.3s;
    animation-timing-function: steps(20);
    animation-iteration-count: infinite;
}

@keyframes headf {
    from { 
      background-position: left; 
    }
    to { 
      background-position: right; 
    }
  }